MYSQL_HOST=localhost                                                                                 
REDIS_HOST=localhost                                   
QDRANT_URL=http://localhost:6333                                                                     
MINIO_HOST=localhost 
MYSQL_ROOT_PASSWORD=bazzi123 